.dropbutton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropmenu {
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropcontent {
  display: none;
  position: absolute;
}

.dropcontent a {
  display: block;
  height: 1rem;
  width: 8rem;
  padding: 6px;
  margin: 0;
}

.dropcontent p {
  font-size: large;
  margin-top: -1px;
  padding: 0;
}

.dropbutton:hover .dropcontent {
  display: block;
}
