@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply dark:bg-zinc-900 bg-zinc-200;
}

@keyframes shake {
    0% {
        margin-left: 0rem;
    }
    25% {
        margin-left: 0.5rem;
    }
    75% {
        margin-left: -0.5rem;
    }
    100% {
        margin-left: 0rem;
    }
}
