:root {
  /* --background-color: #101d33; */
  --border-color: #1e2c42;
  --buttonish-color: #111824;
  --buttonish-hover: #172e57;
  --info-text-color: #0d1521;
  --chains-border: #182131;
  --shocking-info: #e32320;
  --disclaimer-color: #919191;
}

* {
  color: #ffffff;
  font-family: Dongle, sans-serif;
  font-weight: bold;
}

body {
  background-color: var(--background-color);
  background: rgb(10, 24, 48);
  background: radial-gradient(
    circle,
    rgba(10, 24, 48, 1) 15%,
    rgba(16, 29, 51, 1) 50%,
    rgba(10, 24, 48, 1) 85%
  );
  /* credits to https://cssgradient.io/ for the awesome gradient maker! */
}

@font-face {
  font-family: "Dongle";
  src: local("Dongle"), url("./Font/Dongle-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Dongle";
  src: local("Dongle"), url("./Font/Dongle-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Dongle";
  src: local("Dongle"), url("./Font/Dongle-Light.ttf") format("truetype");
  font-weight: lighter;
}
